
body{
  background-image: url("./Images/Jojo-wallpaper.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

#character{
  background-color: rgb(97, 26, 163);
  width: fit-content;
}

.jojo-input{
  background-color: rgb(96, 16, 136);
  padding: .5rem 1rem;
}
::placeholder{
  color: rgb(71, 71, 206);
}